@import '../../sass/bootstrapVariables';

.circular-percentage {
	display: block;
	margin: 10px auto;
	height: 110px;
	width: 110px;

	.circular-percentage-circle {
		stroke: $brand-primary;
		fill: none;
		stroke-width: 2.8;
		stroke-linecap: round;
		animation: progress 500ms ease-out forwards;
	}

	.percentage-text {
		fill: $text-color;
		font-size: 13px;
	}
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
}
