.potential-games-row {
	padding: 15px 0 15px 50px;
	max-height: 810px;
	overflow-y: auto;

	.potential-game-name {
		font-weight: 300;
		font-size: 18px;
	}

	.potential-game-cover {
		padding-bottom: 20px;

		.blur-picture-container {
			left: 0;
		}
	}
}
