/.idea
/.nyc_output
/config/cache/*
/config/vitrine_config.json
/coverage
/dist
/games/*
/node_modules
/public/*
!/public/img
/modules/*.node
/sources/modules/**/build
/sources/modules/keysProvider/srcs/keys.hh
/vitrine.log.html
/yarn-error.log
