/.idea
/assets/modules/**/build
/assets/modules/keysProvider/srcs/keys.hh
/config/vitrine_config.json
/dist
/games/*
/node_modules
/public/*
!/public/img
/modules/*.node
/vitrine.log.html
/yarn-error.log
