.standard-button {
	color: #FFFFFF;
	background-color: #5FB559;
	transition: 50ms linear;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.19);
	border-radius: 2px;

	&:hover, &:focus {
		color: #FFFFFF;
		background-color: #6EC16A;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.19);
	}

	&:active {
		background-color: #4B9246;
	}
}
