#game-container {
	background: radial-gradient(ellipse at center, rgba(131, 131, 131, 0.08) 0%, rgba(0, 0, 0, 0.76) 120%);

	#game-background {
		&:before {
			content: '';
			position: fixed;
			transform: scale(1.02);
			right: 0;
			z-index: -1;
			filter: blur(4px);
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		#game-core {
			padding: 25px 50px;

			h1 {
				color: #d5d5d5;
			}

			hr {
				border-top: 1px solid rgba(210, 210, 210, 0.23);
			}

			.game-desc {
				background-color: rgba(0, 0, 0, 0.49);
				padding: 13px 24px;
				color: #e4e4e4;
				font-size: 1.2em;
			}

			#game-cover-container {
				padding-left: 6em;

				#game-cover-component {
					height: 40em;
					width: 28em;
					overflow: hidden;
					position: relative;

					&.cover-hovered {
						/*
						height: 103%;
						width: 103%;
						*/
					}

					#game-cover-image {
						height: 100%;
						width: 100%;
						transform: scale(1.01);
						position: absolute;
						background-position: center;
						text-align: center;
						vertical-align: middle;
						line-height: 55em;
						transition: 75ms filter linear;

						&.cover-hovered {
							filter: blur(3px);
						}
					}

					#cover-play-btn {
						display: none;
						font-size: 16em;
						color: rgba(255, 255, 255, 0.29);
						position: fixed;
						padding: 0.75em 0.45em;
						//animation-name: zoomIn;
						//animation-duration: 75ms;
						cursor: pointer;

						&.play-btn-visible {
							display: block;
						}
					}
				}
			}
		}

	}
}
