/* Vitrine Components */
// @import 'titleBar';
@import 'error';
@import 'sideBar';
@import 'addGameModal';
@import 'addGamesModal';
@import 'gameContainer';

.full-height {
	height: 100%;
}

.no-padding {
	padding: 0;
}

#app {
	padding: 0;
	height: 100%;
	user-select: none;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 30px;
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.21);
}
