<nav id="sidebar-component" class="navbar navbar-default navbar-fixed-side">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<ul id="potential-games-list" class="dropdown-menu">
						<li>Loading...</li>
					</ul>
				</li>
				<li><hr></li>
				<li class="dropdown">
					<ul id="playable-games-list" class="dropdown-menu">
						<li>No added games.</li>
					</ul>
				</li>
			</ul>
			<form id="game-name-form" class="navbar-form">
				<div class="form-group">
					<input name="name" class="form-control" placeholder="Game name">
				</div>
				<button class="btn standard-button">Get game</button>
			</form>
			<button class="btn btn-lg standard-button">Do something!</button>
		</div>
	</div>
</nav>