<nav id="sidebar-component" class="navbar navbar-default navbar-fixed-side">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<ul class="dropdown-menu" id="beta-games-list"></ul>
				</li>
				<li>
				</li>
			</ul>
			<form id="game-name-form" class="navbar-form">
				<div class="form-group">
					<input name="name" class="form-control" placeholder="Game name">
				</div>
				<button class="btn btn-primary">Get game</button>
			</form>
		</div>
	</div>
</nav>