#error-modal {
	.modal-content {
		background-color: #332929;

		#error-message {
			padding-bottom: 30px;
			padding-left: 30px;
			padding-right: 30px;

		}
		.error-icon {
			font-size: 205px;
			position: absolute;
			color: rgba(255, 50, 50, 0.12);
			top: -50px;
			right: 23px;
		}
		hr {
			margin-top: 14px;
			margin-bottom: 14px;
			border-top: 1px solid rgba(179, 144, 144, 0.39);
		}
		p {
			font-size: 23px;
			margin-top: 15px;
		}
		pre {
			color: #BDB3B3;
			background-color: #272020;
			border: 1px solid #674242;
		}
	}
}
