<div id="add-game-modal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{ addGameLabel }}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-2">
						<div id="add-game-cover">
							<div class="image"></div>
							<i class="fa fa-folder-open-o icon animated"></i>
						</div>
					</div>
					<div class="col-md-7 col-md-offset-1">
						<form id="add-game-form">
							<div class="form-group">
								<label>{{ gameName }}</label>
								<input class="form-control" name="name" placeholder="{{ gameName }}">
							</div>
							<div class="row">
								<div class="form-group col-md-8">
									<label>{{ gamesSeries }}</label>
									<input class="form-control" name="series" placeholder="{{ gamesSeries }}">
								</div>
								<div class="form-group col-md-4">
									<label>{{ releaseDate }}</label>
									<input class="form-control" name="date" placeholder="{{ releaseDate }}">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-6">
									<label>{{ developer }}</label>
									<input class="form-control" name="developer" placeholder="{{ developer }}">
								</div>
								<div class="form-group col-md-6">
									<label>{{ publisher }}</label>
									<input class="form-control" name="publisher" placeholder="{{ publisher }}">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-10">
									<label>{{ genres }}</label>
									<input class="form-control" name="genres" placeholder="{{ genres }}">
								</div>
								<div class="form-group col-md-2">
									<label>{{ rating }}</label>
									<input type="number" class="form-control" name="rating" min="0" max="100" placeholder="{{ rating }}">
								</div>
							</div>
							<div class="form-group">
								<label>{{ summary }}</label>
								<textarea class="form-control" rows="4" name="summary" placeholder="{{ summary }}"></textarea>
							</div>
							<hr>
							<div class="form-group">
								<label>{{ executable }}</label>
								<div class="input-group">
									<input class="form-control" name="executable" placeholder="{{ executable }}" readonly>
									<span class="input-group-btn">
										<button id="add-game-executable-btn" class="btn btn-default" type="button">
											<i class="fa fa-folder-open-o"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label>{{ lineArguments }}</label>
								<input class="form-control" name="arguments" placeholder="{{ lineArguments }}">
							</div>
							<hr>
							<div class="form-group">
								<label>{{ backgroundImage }}</label>
								<button id="add-custom-background-btn" class="btn btn-primary">
									<i class="fa fa-plus"></i> {{ addCustomBgImage }}
								</button>
								<div id="add-background-picker"></div>
							</div>
							<input name="cover" hidden>
							<input name="background" hidden>
							<input name="source" hidden>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="fill-with-igdb-btn" class="btn btn-primary" disabled>{{ fillWithIgdb }}</button>
				<button id="add-game-submit-btn" class="btn btn-primary" disabled>{{ submitNewGame }}</button>
			</div>
		</div>
	</div>
</div>