<div id="taskbar">
	<div class="row">
		<div class="col-md-1">
			<button class="btn btn-primary" data-toggle="modal" data-target="#add-game-modal">
				<i class="fa fa-plus"></i>
			</button>
			<button class="btn btn-primary"><i class="fa fa-refresh"></i></button>
		</div>
		<div class="col-md-2">
			<div id="update-bar" class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>
</div>