@import '../../sass/bootstrapVariables';

.games-module-icon {
	opacity: 0.05;
	width: 150px;
	margin: 15px;
	transition: 320ms ease;

	&:hover {
		opacity: 0.14;
		cursor: pointer;
	}
	&.clicked {
		opacity: 1;
		filter: opacity(0.5) drop-shadow(0 0 0 $brand-primary);
	}
}
