.blur-picture-container {
	overflow: hidden;
	position: relative;
	left: 40px;
	display: none;
	color: #F1F1F1;
	text-shadow: 0 0 10px rgba(8, 8, 8, 0.17);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);

	.image {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		transform: scale(1.02);
		transition: 75ms filter linear;

		&.cover-hovered {
			filter: blur(4px);
		}
	}
	.icon {
		display: none;
		position: absolute;
		opacity: 0.6;

		&.cover-hovered {
			display: inline;
		}
	}
}
