.modal-header .close {
	text-shadow: none;
	color: #FFFFFF;

	&:hover {
		color: inherit;
		opacity: 0.4;
	}
}

#remove-game-modal, #update-modal {
	top: 27vh;
	left: 18vh;

	.modal-body {
		padding-top: 24px;
	}
}

#add-games-modal {
	top: 6vh;

	.modal-body {
		overflow-y: auto;
		height: 800px;
	}
}
