#sidebar-container {
	height: 100%;
	padding: 0;
	position: absolute;
	background-color: $body-bg;
	width: 16%;

	#sidebar-content {
		height: 96%;

		#potential-games-area {
			text-align: center;
			padding: 20px;
		}

		hr {
			margin: 0;
			border-top: 1px solid #565149;
		}

		.games-list {
			overflow-y: auto;

			ul {
				height: 98%;
				list-style-type: none;
				padding: 0;
				margin: 0;

				li {
					color: #A5A5A5;
					display: block;
					padding: 10px 20px;
					cursor: pointer;

					&:hover {
						background-color: #3E372E;
						color: #AFACA7;
					}
					&.selected-game {
						background-color: #504638;
						color: #AFACA7;
						cursor: default;
					}
				}
			}
		}
	}

	.add-game {
		padding: 0 10px;

		.btn {
			width: 100%;
		}
	}
}
