#settings-modal {
	.modal-body {
		padding: 15px 40px 10px;

		.lang-select {
			padding: 20px 0 0;
		}
	}
}

.nav-tabs > li > a:hover {
	color: #988F88;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: #61574B;
}
